<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>245911937029-4rqfg6oldsej9ikqa94v173rujmc9pj9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.245911937029-4rqfg6oldsej9ikqa94v173rujmc9pj9</string>
	<key>API_KEY</key>
	<string>AIzaSyADd0DoR17bPn98f8t056K4WicF5DljzMA</string>
	<key>GCM_SENDER_ID</key>
	<string>245911937029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.QK-Chef</string>
	<key>PROJECT_ID</key>
	<string>quick-chef-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>quick-chef-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:245911937029:ios:e59ee1cff65bad1466bc6c</string>
	<key>DATABASE_URL</key>
	<string>https://quick-chef-firebase.firebaseio.com</string>
</dict>
</plist>